.woocommerce table.shop_attributes .product_weight,
.woocommerce table.shop_attributes .product_dimensions {
  direction: ltr;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-right: 0;
  margin-left: -.8em;
}

.woocommerce-checkout #payment div.payment_box:after {
  margin-top: -13px;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
  border-left: 0;
}

.woocommerce table.my_account_orders .order-status {
  text-align: right !important;
}
